@import url('https://fonts.googleapis.com/css?family=Open+Sans');


/* VARIABLES */

:root {
  --main-red-color: rgb(168, 47, 36);
  --main-brightGrey-color: grey;
}

/* STYLING */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900
}

.header__textContainer {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
}

header h1 {
  color: rgb(179, 144, 131);
  font-size: 10vh;
  margin-bottom: 3%; 
  position: relative;
  padding-top: 5%;
  opacity: 0;
  right: 40%;
  animation: leftToRightSlideIn 1s 1 linear;
  animation-fill-mode: forwards;
}

header h2 {
  color: rgb(179, 144, 131);
  position: relative;
  font-size: 6vh;
  top: 5%;
  left: 20%;
  animation: opac 1s 1;
}

.header__img {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}



#about {
  margin: 10% 0 10% 0;
  height: 100vh;
}

.about__header {
  margin: 0 auto;
  text-align: center;
  width: 40%;
}

.about__content {
  display: flex;
}

.about__header h1 {
  margin-bottom: 8%;
  font-size: 3.5rem;
  border-bottom: 1px solid var(--main-red-color);
}

.about__header p {
  font-size: 1.3rem;
}

.about__list {
  width: 33%;
  font-size: 1.7rem;
  margin: 5% 2% 0% 2%;
}

.about__list-contact {
  border-bottom: 1px solid grey;
  color: var(--main-red-color);
  list-style: none;
  padding: 6%;
}

.about__list-span {
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
  float: right;
}

.about__image {
  height: 25rem;
  position: relative;
  left: 5rem;
  top: 3rem;
  width: 23%;
}


.Typist .Cursor {
  display: inline;
  opacity: 1;
  animation: blink 1s linear infinite;
}

img {
  width: 50%;
  height: 100%;
}

.projects__header {
  font-size: 2rem;
  text-align: center;
  background-color: var(--main-red-color);
  width: 90%;
  margin: 0 auto;
}

.project {
  display: flex;
  margin: 3%;
}

.project p {
  width: 40%;
  font-size: 1.3rem;
  color: var(--main-brightGrey-color);
  margin-top: 2%;
}

#project__left {
  justify-content: flex-start
}

#project__left img {
  margin-right: 5%;
}

#project__right {
  justify-content: flex-end;
}

#project__right img {
  margin-left: 5%;
}

#projects {
  background-color: rgb(233, 232, 232);
  max-width: 100%;
  width: 95%;
  margin: 5% auto;
  padding: 3% 0;
}

#contact {
  background-color: rgba(0, 0, 0, 0.99);
  font-size: 1.8rem;
  padding: 3% 0;
  color: rgb(112, 112, 112);
}

#form {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  padding: 3% 0 5% 0;
}

#form textarea {
  width: 100%;
  height: 10rem;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 1.2rem;
}

#form textarea::placeholder {
  font-size: 1.2rem;
}
#form button {
  background-color: var(--main-red-color);
  border: none;
  cursor: pointer;
  margin-top: 5%;
  height: 3rem;
}

#contact__other {
  display: flex;
  justify-content: center;
}

.contact__card {
  margin: 0 3%;
  width: 100%;
  text-align: center;
}

.contact__card img {
  height: 4rem;
  width: 4rem;
}

.contact__card h3 {
  color: var(--main-red-color);
}

footer p {
  font-size: 1.4rem;
  background-color: black;
  color: rgb(165, 165, 165);
  text-align: center;
  padding: 3%;
}



/* RESPONSIVE CSS */


/* ANIMATIONS */

@keyframes leftToRightSlideIn {
  0% {
    left: 0%;
    opacity: .1;
  }

  20% {
    left: 3%;
    opacity: .2;
  }

  40% {
    left: 6%;
    opacity: .4;
  }

  60% {
    left: 9%;
    opacity: .6;
  }

  80% {
    left: 12%;
    opacity: .8;
  }

  100% {
    left: 15%;
    opacity: 1;
    border-bottom: 2px solid rgb(192, 186, 186);
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}