/* STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.header__textContainer {
    position: absolute;
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
}

header h1 {
  color: rgb(160, 141, 139);
  font-size: 10vh;
  margin-bottom: 3%; 
  position: relative;
  padding-top: 5%;
  opacity: 0;
  right: 40%;
  animation: leftToRightSlideIn 1s 1 linear;
  animation-fill-mode: forwards;
}

header h2 {
  color: rgb(173, 151, 151);
  position: relative;
  font-size: 6vh;
  top: 5%;
  left: 20%;
  animation: opac 1s 1;
}

.header__img {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}

#about {
  margin-top: 5%;
  margin-bottom: 5%;

}

.about__textContainer {
  display: flex;
  /* margin: 0 50% 0 5%; */
}

.about__info {
  color: rgb(160, 149, 149);
  width: 40%;
  text-align: right;
  margin-left: 7%;
  font-size: 1.3rem;
  margin-top: 4%;
}

.about__img {
  width: 40%;
  background-color: red;
  margin-left: 7%;
  height: 100%;
}


/* RESPONSIVE CSS */


/* ANIMATIONS */

@keyframes leftToRightSlideIn {
  0% {
    left: 0%;
    opacity: .1;
  }

  20% {
    left: 3%;
    opacity: .2;
  }

  40% {
    left: 6%;
    opacity: .4;
  }

  60% {
    left: 9%;
    opacity: .6;
  }

  80% {
    left: 12%;
    opacity: .8;
  }

  100% {
    left: 15%;
    opacity: 1;
    border-bottom: 2px solid rgb(192, 186, 186);
  }
}

@keyframes opac {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}